html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
    background-color: azure;
  }

  header {
    background: rgb(42, 180, 56);
    height: 120px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 130px;
    margin: 0;
  }

  article {
    background-color: #a7b22d;
    border: 7px solid #85ff4c;
    border-radius: 30px;
    padding: 12px;
    margin: 12px;
    background: rgb(175, 129, 37);
  }
 section {
  display:flex;
  justify-content: space-around;
  align-items: center;
 }